#mydiv
{
    margin-top:100px;
}

#myTime
{
    text-align:center;
}

.jumbotron.jumbotron-fluid 
{
    width: 550px;
    margin: auto;
    background-color:black;
    border-radius: 19px;
    border:3px solid red;
    color:red;
}

.btn
{
    margin-left: 630px;
    margin-top: 56px;
}

#setAlarm input
{
    width:85px;
    outline: none;
}

#setAlarm
{
    margin-left:530px;
    margin-top:56px;
    border:2px solid rgb(85, 47, 255);
    padding: 20px;
    width:295px;
    border-radius:8px;
    background-color:rgb(255, 98, 216);
    visibility:hidden;
}

#setAlarm button
{
    margin:auto;
}
